{{- define "assignment" -}}
  {{- if .Target.Ident}}{{.Target.Ident}}
  {{- else if .Target.IndexAccess}}{{template "index_access" .Target.IndexAccess}}
  {{- else if .Target.Dereference}}{{template "dereference" .Target.Dereference}}
  {{- end}} {{.Op}} {{template "expression" .Value}}
{{- end -}}