{{- define "function" -}}
{{if .ReturnType}}{{.ReturnType}}{{else}}void{{end}} {{.Name}}({{range $index, $param := .Params}}{{if $index}}, {{end}}{{$param.Type}} {{$param.Name}}{{end}})
{
{{template "block" .Body}}
}
{{- end}}