{{- define "function_prototype" -}}
  {{ template "type" .ReturnType }} {{ .Name }}(
    {{- range $index, $param := .Params -}}
      {{if $index}}, {{end}}{{ template "type" $param.Type }} {{ $param.Name }}
    {{- end -}}
  );
{{- end -}}