{{- define "if_statement" -}}
if ({{template "expression" .Condition}}) {
{{template "block" .Body}}}{{if .Else}}{{template "else_branch" .Else}}{{end}}
{{- end}}

{{- define "else_branch" -}}
{{if .ElseIf}} else {{template "if_statement" .ElseIf}}{{else}} else {
{{template "block" .Else}}}{{end}}
{{- end}}