{{- define "var_decl" -}}
{{- $base := .Type.Base -}}
{{- $name := .Name -}}
{{- range $mod := reverseMods .Type.Modifiers -}}
    {{- if $mod.Pointer -}}
        {{- $name = printf "*%s" $name -}}
    {{- else if $mod.Array -}}
        {{- $name = printf "%s[%s]" $name (renderSize $mod.Array.Size) -}}
    {{- end -}}
{{- end -}}
{{ $base }} {{ $name }};
{{- end -}}